<p>Здравствуйте!</p>
{% if type == 'add' %}
  <p>Заявка № {{ id }} создана.</p>
{% elif type == 'edit' %}
  <p>Статус заявки № {{ id }} изменен на "{{ status.name }}".</p>
  {% if status.id == 3 %}
    <p>Если Вас устраивает качество выполненных работ, просим согласовать выполнение заявки или дождаться автоматического получения статуса "Закрыто" по истечении 3-х суток.
       Либо Вы можете вернуть заявку в работу.</p>
  {% endif %}
{% elif type == 'engineer' %}
  Вам назначена в работу заявка № {{ id }}.
{% elif type == 'comment' %}
<p>Добавлен комментарий к заявке № {{ id }}.</p>
<p>"{{ status|safe }}"</p>
{% elif type == 'comment_edit' %}
<p>Изменен комментарий к заявке № {{ id }}.</p>
<p>"{{ status|safe }}"</p>
{% elif type == 'comment_delete' %}
<p>Удален комментарий к заявке № {{ id }}.</p>
<p>"{{ status|safe }}"</p>
{% elif type == 'spare' %}
<p>Списание запчасти "{{ status }}" по заявке № {{ id }}.</p>
{% elif type == 'priority' %}
Приоритет заявки № {{ id }} изменен на "{{ status|default_if_none:'' }}".
{% elif type == 'return' %}
Возврат запчасти "{{ status }}" по заявке № {{ id }}.
{% elif type == 'status' %}
Статус заявки № {{ id }} изменен на "{{ status.name }}".
{% elif type == 'to_work' %}
Заявка № {{ id }} возвращена в работу.
{% endif %}
{% if type == 'delete' %}
<p>Заявка № {{ id }} удалена администратором.</p>
{% else %}
<p>Актуальная информация о заявке доступна по адресу {{ url }}</p>
{% endif %}
<p>С уважением, команда xCloud</p>
