{% extends 'base.html' %}
{% load static %}
{% block title %}Оформление заявки{% endblock title %}

{% block page-title %}Оформление заявки{% endblock page-title %}
{% block content %}
<section>
  <div class="container">
    <div class="justify-center">{{ contacts }}
        <input type="hidden" id="back" value="{% url 'app-list' %}">
        <input type="hidden" id="current-user-id" value="{{ request.user.id }}">
      <div class="form">
        <form method="POST" enctype="multipart/form-data" id="app-form" action="{% url 'add-application-api' %}" class="relative">
          {% if permissions.is_staff %}
          <div>
            {{ form.client.errors }}
            {{ form.client.label_tag }}
            <select name="client" id="id_client">
              {% for val, text in form.fields.client.choices %}
                <option value="{{ val }}" {% if val == request.user.id %}selected{% endif %}>{{ text }}</option>
              {% endfor %}
            </select>
          </div>
          {% endif %}
          <div>
            {{ form.priority.errors }}
            {{ form.priority.label_tag }}
            {{ form.priority }}
          </div>
          <div>
            <label for="id_equipment">Оборудование:</label>
            <input type="text" id="id_equipment" name="equipment" placeholder="Введите серийный номер оборудования" autocomplete="off" required>
            <ul id="equipments" class="datalist">
            </ul>
          </div>
          <div>
            {{ form.problem.errors }}
            {{ form.problem.label_tag }}
            {{ form.problem }}
          </div>
          <div>
            {{ form.contact.errors }}
            {{ form.contact.label_tag }}
            {{ form.contact }}
          </div>
          <div class="form-grey-line">Файлы</div>
          <p class="pl-30">
            <input type="file" name="documents">
             <a class="delete-item"></a>
          </p>
          <div><a id="add-doc" class="add-item"> Добавить файл</a></div>
          <div class="justify-center">
            <button id="submit-btn" type="submit" class="btn dark-btn">Отправить</button>
            <a href="{% url 'app-list' %}" class="btn light-btn">Отмена</a>
          </div>
        </form>
      </div>
    </div>
    <div class="empty-doc hidden">
        <p class="pl-30">
          <input type="file" name="documents">
          <a class="delete-item"></a>
        </p>
    </div>
  </div>
  <div id="modal" class="modal">
    <div class="modal-content">
      <div class="modal-text"></div>
      <a class="btn light-btn" id="modal-close">ОК</a>
    </div>
  </div>
</section>
{% endblock content %}
{% block pagescripts %}
<script type="module" src="{% static 'js/applications/add.js' %}"></script>
{% endblock %}
