{% extends 'admin/menu.html' %}
{% load static %}
{% block title %}Администрирование{% endblock title %}
{% block pagecss %}
  {% if search %}
    <link rel="stylesheet" type="text/css" href="{% static 'django_select2/select2.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'django_select2/django_select2.css' %}">
  {% endif %}
{% endblock %}
{% block page-title %}Редактирование элемента{% endblock page-title %}
{% block admin-content %}
  <div class="justify-center">
    <div class="form">
      {% if delete_link %}
        <div class="justify-right">
          <a class="btn red-btn" href="{% url delete_link form.instance.pk %}">Удалить</a>
        </div>
      {% endif %}
      <form method="POST" {% if files %}enctype="multipart/form-data"{% endif %}>
        {% csrf_token %}
        {% for field in form %}
          <div>
            {{ field.label_tag }}
            {{ field.errors }}
            {{ field }}
          </div>
        {% endfor %}
        {% for formset in formsets %}
          {{ formset.formset.management_form }}
          <div class="{{ formset.formset.prefix }}">
            <div class="form-grey-line">
              <div>{{ formset.label }}</div>
            </div>
            {% for elm in formset.formset %}
              <div class="formset">
                {{ elm.id }}
                {% for field in elm %}
                  {% if not field.name == 'DELETE' and not field.is_hidden %}
                    <div>
                      {{ field.errors }}
                      {{ field }}
                      {% if forloop.first %}
                        <a class="delete-item"></a>
                        <input type="checkbox" name="{{ elm.prefix }}-DELETE" id="id_{{ elm.prefix }}-DELETE" class="hidden">
                      {% endif %}
                    </div>
                  {% endif %}
                {% endfor %}
              </div>
            {% endfor %}
            <a class="add-item {{ formset.formset.prefix }}"> Добавить {{ formset.label }}</a>
          </div>
        {% endfor %}
        <div class="justify-center">
          <button type="submit" class="btn dark-btn">Отправить</button>
          <a href="{% url link %}" class="btn light-btn">Отмена</a>
        </div>
      </form>
    </div>
  </div>

  {% for formset in formsets %}
    <div class="empty-form hidden {{ formset.formset.prefix }}">
      <div class="empty-formset">
        {{ formset.formset.empty_form.id }}
        {% for field in formset.formset.empty_form %}
          {% if not field.name == 'DELETE' and not field.is_hidden %}
            <div>
              {{ field.errors }}
              {{ field }}
              {% if forloop.first %}
                <a class="delete-item"></a>
                <input type="checkbox" name="{{ formset.formset.empty_form.prefix }}-DELETE" id="id_{{ formset.formset.empty_form.prefix }}-DELETE" class="hidden">
              {% endif %}
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  {% endfor %}
{% endblock admin-content %}
{% block pagescripts %}
{% if search %}
  <script src="{% static 'django_select2/jquery.min.js' %}"></script>
  <script src="{% static 'django_select2/select2.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'django_select2/django_select2.js' %}"></script>
{% endif %}
  <script type="text/javascript" src="{% static 'js/datepicker.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/forms/formset.js' %}"></script>
{% endblock pagescripts %}
