{% extends 'base.html' %}
{% load static %}
{% block title %}Изменение пароля{% endblock title %}

{% block page-title %}Изменение пароля{% endblock page-title %}
{% block content %}
<section>
  <div class="container">
    <a class="back-link" href="{% url link %}">Назад</a>
    <div class="justify-center">
      <div class="form">
        <form method="PUT" class="change-password" action="{{ action }}">
          {% csrf_token %}
          {{ form.as_p }}
          <ul>
            <li>Данные в полях "Новый пароль" и "Подтверждение нового пароля" должны совпадать</li>
          </ul>
          <div class="justify-center"><button type="submit" class="btn dark-btn">Изменить</button>
          <a class="hidden btn" href="{% url link %}"></a></div>
        </form>
      </div>
    </div>
  </div>
</section>
{% endblock %}
{% block pagescripts %}
<script type="module" src="{% static 'js/forms/edit.js' %}"></script>
{% endblock pagescripts %}
