{% extends 'base.html' %}
{% block title %}Восстановление пароля{% endblock title %}

{% block page-title %}Восстановление пароля{% endblock page-title %}

{% block content %}
<section>
  <div class="container">
    <div class="justify-center">
      <div class="form">
        <div class="info-box">Забыли пароль? Введите адрес электронной почты, указанный при регистрации, и мы напишем Вам, как получить новый.</div>
        <form method="POST">
          {% csrf_token %}
          <div>
            <label for="id_email">Адрес электронной почты:</label>
            <input type="email" name="email" autocomplete="email" maxlength="254" required="" id="id_email">
          </div>
          <div class="justify-center"><button type="submit" class="btn dark-btn">Отправить</button></div>
        </form>
      </div>
    </div>
  </div>
</section>
{% endblock %}
