{% extends 'base.html' %}
{% block title %}Восстановление пароля{% endblock title %}

{% block page-title %}Новый пароль{% endblock page-title %}

{% block content %}
<section>
  <div class="container">
    <div class="justify-center">
      <div class="form">
        <div class="info-box">Пожалуйста, введите новый пароль дважды, чтобы мы могли убедиться в правильности написания.</div>
        <form method="POST">
          {% csrf_token %}
          <div>
            <label for="id_new_password1">Новый пароль:</label>
            <input type="password" name="new_password1" autocomplete="new-password" required="" id="id_new_password1">
          </div>
          <div>
            <label for="id_new_password2">Подтвердите пароль:</label>
            <input type="password" name="new_password2" autocomplete="new-password" required="" id="id_new_password2">
          </div>
          <div class="justify-center"><button type="submit" class="btn dark-btn">Изменить мой пароль</button></div>
        </form>
      </div>
    </div>
  </div>
</section>
{% endblock %}
